<form #formumaire="ngForm">
  <label for="name">Name</label>
  <input id="name" type="text" class="form-control" />

  <label for="firstname">Firstname</label>
  <input id="firstname" type="text" class="form-control" />

  <label for="job">Job</label>
  <input id="job" type="text" class="form-control" />

  <label for="age">Age</label>
  <input id="age" type="number" class="form-control" />

  <label for="cin">Cin</label>
  <input id="cin" type="number" class="form-control" />

  <label for="path">Path</label>
  <input id="path" type="text" class="form-control" />

  <button class="btn btn-primary">Envoyer</button>
</form>
