<div class="row">
  <div class="col">
    <app-autocomplete></app-autocomplete>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="alert alert-warning">
      {{ date | date: "full" | uppercase }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-list
      [cvs]="cvs"
    ></app-list>
  </div>

  <div class="col-6">
    <ng-container *ngIf="selectedCv$ | async as selectedCv">
      <app-cv-card [cv]="selectedCv"></app-cv-card>
    </ng-container>
  </div>
</div>

<app-embauche></app-embauche>
